<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'yt/css/style2.css' %}">
</head>
<body>
    <div class="wrap">
        <div class="top_part">
            <div class="header">
                <ul class="nav">
                    <li>로그인</li>
                    <li>회원가입</li>
                    <li>정보찾기</li>
                    <li>접속</li>
                </ul>
            </div>
            <div class="container">
                <div class="banner">
                    <img src="{% static 'yt/image/sooker.png' %}">
                </div>
            </div>
            <div class="menu">
                <ul class="nav2">
                    <li><a href="#"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i></a></li>
                    <li>공지사항</li>
                    <li>멤버십</li>
                    <li>자유게시판</li>
                    <li>정보&후기</li>
                    <li>파티모집</li>
                    <li>신고</li>
                    <li>오픈채팅</li>
                    <li><a href="#"><i class="fa fa-bars" aria-hidden="true" style="color:white;"></i></a></li>
                </ul>
            </div>
            <div class="sticker">
                <ul class="notice">
                    <li></li>
                    <li><i class="fa fa-bell-o" aria-hidden="true" style="color:white;"></i>알림장</li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="bottom_part">
            <div class="bottom_banner">
                <img class="img_hyundai" src="{% static 'yt/image/hyundai.jpg' %}">
            </div>
            <div class="bottom_bg">
                <div class="bottom_left">
                    <div class="bl_top_ad">

                    </div>
                    <div class="board1">
                        <div class="board1_left_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>자유게시판<span class="pull_right">+</span></h2>
                            </div>
                            <div class="contents">
                                <h1>일용직도 매일 만근 생기는 "월차"</h1>
                                <h1>고덕 엔지니어링 신호수</h1>
                                <h1>하이닉스 불합격</h1>
                                <h1>서정리역에 버스가는곳</h1>
                                <h1>문자보냈습니다</h1>
                            </div>
                        </div>
                        <div class="board1_right_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>정보후기</h2>
                            </div>
                            <div class="contents">
                                <h1>포설/풀링할때 주의점 몇가지</h1>
                                <h1>고덕 물산 두원 현재상황</h1>
                                <h1>노가다 뉴비의 시작. 안전관리자&화기감시자</h1>
                                <h1>숙노 혹은 숙식노가다.그래서 그게 대체 뭔데?</h1>
                                <h1>삼성 화성 작은 정보</h1>
                                <h1>반도체 포설 가이드</h1>
                                <h1>삼성 반도체 관련 이런 저런 이야기</h1>
                            </div>
                        </div>
                    </div>
                    <div class="board2">
                        <div class="board2_left_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>자유게시판</h2>
                            </div>
                            <div class="contents">
                                <h1>일용직도 매일 만근 생기는 "월차"</h1>
                                <h1>고덕 엔지니어링 신호수</h1>
                                <h1>하이닉스 불합격</h1>
                                <h1>서정리역에 버스가는곳</h1>
                                <h1>문자보냈습니다</h1>
                            </div>
                        </div>
                        <div class="board2_right_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>정보후기</h2>
                            </div>
                            <div class="contents">
                                <h1>포설/풀링할때 주의점 몇가지</h1>
                                <h1>고덕 물산 두원 현재상황</h1>
                                <h1>노가다 뉴비의 시작. 안전관리자&화기감시자</h1>
                                <h1>숙노 혹은 숙식노가다.그래서 그게 대체 뭔데?</h1>
                                <h1>삼성 화성 작은 정보</h1>
                                <h1>반도체 포설 가이드</h1>
                                <h1>삼성 반도체 관련 이런 저런 이야기</h1>
                            </div>
                        </div>
                    </div>
                    <div class="board3">
                        <div class="board3_left_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>자유게시판</h2>
                            </div>
                            <div class="contents">
                                <h1>일용직도 매일 만근 생기는 "월차"</h1>
                                <h1>고덕 엔지니어링 신호수</h1>
                                <h1>하이닉스 불합격</h1>
                                <h1>서정리역에 버스가는곳</h1>
                                <h1>문자보냈습니다</h1>
                            </div>
                        </div>
                        <div class="board3_right_box">
                            <div class="title">
                                <h2><i class="fa fa-minus red fa_rotate_90"></i>정보후기</h2>
                            </div>
                            <div class="contents">
                                <h1>포설/풀링할때 주의점 몇가지</h1>
                                <h1>고덕 물산 두원 현재상황</h1>
                                <h1>노가다 뉴비의 시작. 안전관리자&화기감시자</h1>
                                <h1>숙노 혹은 숙식노가다.그래서 그게 대체 뭔데?</h1>
                                <h1>삼성 화성 작은 정보</h1>
                                <h1>반도체 포설 가이드</h1>
                                <h1>삼성 반도체 관련 이런 저런 이야기</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bl_bottom_ad">

                    </div>
                </div>
                <! -- bottom left end -- >

                <div class="bottom_right">
                    <div class="login">
                        <div class="title">
                            <h2><i class="fa fa-minus red fa_rotate_90"></i>로그인</h2>
                        </div>
                        <div class="widget_box">
                            <form action="#">
                                <div class="form_group">
                                    <div class="input_group">
                                        <span><i class="fa fa-user gray"></i></span>
                                        <input type="text" name="sooker_id" id="sooker_id" class="login_id" placeholder="아이디">
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="input_group">
                                        <span><i class="fa fa-lock gray" style="margin-right:1.14px;"></i></span>
                                        <input type="password" name="sooker_pwd" id="sooker_pwd" class="login_pwd" placeholder="비밀번호">
                                    </div>
                                </div>
                                <div class="form_group">
                                    <button type="submit" name="login_btn" id="sooker_btn" class="login_btn"><i class="fa fa-sign-in"></i>로그인</button>
                                </div>
                                <div class="login_opt">
                                    <div class="auto_login">
                                        <input type="checkbox" name="auto_login" id="auto_login" class="remember_me">자동로그인</input>
                                    </div>
                                    <div class="register_search">
                                        <span>회원가입</span>
                                        <span> | </span>
                                        <span>정보찾기</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="new_comment">
                        <div class="title">
                            <h2><i class="fa fa-minus red fa_rotate_90"></i>새로운댓글</h2>
                        </div>
                        <div class="widget_box">
                            <div class="post_list">
                                <ul class="post_detail">
                                    <li><span><i class="fa fa-comment"></i>연락주세요 01074185044</span><span class="pull_right">혀니 1일전</span></li>
                                    <li><span><i class="fa fa-comment"></i>01074185044 연락주세여</span><span class="pull_right">혀니 1일전</span></li>
                                    <li><span><i class="fa fa-comment"></i>전화주세요 ㅠㅠ 같이 으쌰으쌰</span><span class="pull_right">혀니 1일전</span></li>
                                    <li><span><i class="fa fa-comment"></i>연락주세여 010-3421-4213</span><span class="pull_right">혀니 1일전</span></li>
                                    <li><span><i class="fa fa-comment"></i>glasser999 카톡주세요</span><span class="pull_right">혀니 1일전</span></li>
                                    <li><span><i class="fa fa-unlock-alt"></i> glasser999 </span><span class="pull_right">혀니 1일전</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="statistic">
                        <div class="title">
                            <h2><i class="fa fa-minus red fa_rotate_90"></i>통계청</h2>
                        </div>
                        <div class="widget_box">
                            <div class="data_list">
                                <ul class="data_detail">
                                    <li><span><i class="fa fa-minus red"></i>현재 접속자</span><span class="pull_right">23명</span></li>
                                    <li><span><i class="fa fa-minus red"></i>오늘 방문자</span><span class="pull_right">1,183명</span></li>
                                    <li><span><i class="fa fa-minus red"></i>어제 방문자</span><span class="pull_right">1,523명</span></li>
                                    <li><span><i class="fa fa-minus red"></i>최대 방문자</span><span class="pull_right">1,621명</span></li>
                                    <li><span><i class="fa fa-minus red"></i>전체 방문자</span><span class="pull_right">391,346명</span></li>
                                    <li><span><i class="fa fa-minus red"></i>전체 회원수</span><span class="pull_right">2,909명</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="br_ad">
                        <div class="widget_box">

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>